<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
    <a class="button" routerLink="/login" routerLinkActive="activebutton">LogowanieTest</a><br>
    <a class="button" routerLink="/register" routerLinkActive="activebutton">RejestracjaTest</a><br>
    <a class="button" routerLink="/todolist" routerLinkActive="activebutton">TodolistTest</a>
  </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
</body>
</html>