 <h1 style="margin: 0">Rejestracja</h1>
 <form>
   <label for="Imie">Imie</label><br/>
   <input type="text"name="Imie"[(ngModel)]="input.Imie"/><br/>
   <label for="Nazwisko">Nazwisko</label><br/>
   <input type="text"name="Nazwisko" [(ngModel)]="input.Nazwisko"/><br/>
   <label for="Login">Login</label><br/>
   <input type="Login"name="Login" [(ngModel)]="input.Login"/><br/>
   <label for="Haslo">Haslo</label><br/>
   <input type="Haslo"name="Haslo" [(ngModel)]="input.Haslo"/><br/>
   <button type="button"(click)="register()">Zarejestruj</button>
 </form>
 <p>
   <a [routerLink]="['/login']">Logowanie</a>
 </p>

